/*
	vars
*/

$fonts: '../fonts/';
$images: '../images/';

$defFonts: 'Noto Sans JP', Hiragino Sans, "ヒラギノ角ゴシック", Hiragino Kaku Gothic ProN, "ヒラギノ角ゴ ProN W3", Roboto, "Droid Sans",
YuGothic, "游ゴシック", Meiryo, "メイリオ", Verdana, "ＭＳ Ｐゴシック", sans-serif;


$breakpoints: (
	xs: 375px,
	sm: 768px,
	md: 1024px,
	lg: 1440px,
	xl: 1920px,
);

$color-1: #4D4D4D;
$color-2: #555555;
$color-3: #707070;
$color-4: #ffffff;
$color-5: #FF7A59;

$container-width: 1260px;
$container-offset: 15px;

